/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root
{
	
	-fx-background-image: url("image/bkgd.png");
	-fx-background-repeat: stretch;
	-fx-background-color: black;
}



.check-box
{
	-fx-font-size: 16px;
	-fx-text-fill: white;
}

.slider {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.slider .track
{
	-fx-background-color: white;  /* Hide the track */
}

#label
{
	-fx-font-size: 16px;
	-fx-text-fill: white ;
	-fx-background-color: linear-gradient(#131313 0%, #424141 100%);
	-fx-padding: 6  6  6  6;
	-fx-background-radius: 3px;
}

#heading
{
	-fx-background-color: black;
	-fx-padding: 10 0 0 0;
	-fx-background-image: url("image/logo_text_small.png");
	-fx-background-repeat: stretch ;
	-fx-alignment: center;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color: transparent;
}


#container
{
	-fx-padding: 10 40 50 40;
	-fx-alignment: center; 
}

#settings_container
{
	-fx-padding: 10 40 50 40;
	-fx-alignment: center; 
	-fx-background: #131313;
}

#heading_container
{
	-fx-padding: 20  0  0  10;
}

#default_button
{
	-fx-font-size: 16px;
	-fx-padding: 6  6  6  6;
	-fx-alignment: center;
	-fx-background-color: linear-gradient(#131313 0%, #424141 100%);
	-fx-border-width: 0.2px;
	-fx-border-color: black;
	-fx-text-fill: white ;
}

#control_container
{
	-fx-padding: 10  5  0  0;
}

#default_button:hover
{
	-fx-padding: 6  6  6  6;
	-fx-alignment: center;
	-fx-text-fill: #ff0606 ;
	-fx-border-width: 0.2px;
	-fx-border-color: white;
	-fx-background-color: linear-gradient(#131313 0%, #424141 70%);
}

#resize_button
{
	-fx-background-image: url("image/resize_icon.png");
	-fx-background-repeat: stretch;
	-fx-background-color: black;
}

#resize_button:hover
{
	-fx-background-image: url("image/resize_icon_hover.png");
	-fx-background-repeat: stretch;
	-fx-background-color: black;
}

#maximize_button
{
	-fx-background-image: url("image/maximize_icon.png");
	-fx-background-repeat: stretch;
	-fx-background-color: black;
}

#maximize_button:hover
{
	-fx-background-image: url("image/maximize_icon_hover.png");
	-fx-background-repeat: stretch;
	-fx-background-color: black;
}

#minimize_button
{
	-fx-background-image: url("image/minimize_icon.png");
	-fx-background-repeat: stretch;
	-fx-background-color: black;
}

#minimize_button:hover
{
	-fx-background-image: url("image/minimize_icon_hover.png");
	-fx-background-repeat: stretch;
	-fx-background-color: black;
}

#close_button
{
	-fx-background-image: url("image/close_icon.png");
	-fx-background-repeat: stretch;
	-fx-background-color: black;
}

#close_button:hover
{
	-fx-background-image: url("image/close_icon_hover.png");
	-fx-background-repeat: stretch;
	-fx-background-color: black;
}

#tool_tip
{
	-fx-font-size: 14px;
}

.table-view
{
	-fx-control-inner-background-alt: #000000;
	-fx-control-inner-background: #000000;
	-fx-color: #000000;
	-fx-background-color: #000000  ;
}

/* Column label */
.table-view .column-header-background .label
{
	-fx-background-color: linear-gradient(#131313 0%, #424141 100%);
    -fx-text-fill: white ;
}

.table-view .column-header 
{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .table-cell
{
	-fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0.2;
}

.table-view .table-cell:selected 
{ 
	-fx-background-color: linear-gradient(ff0606 0%, #424141 96%); 
}

.table-view .scroll-bar:vertical .thumb
{
	-fx-background-color: linear-gradient(ff0606 0%, #424141 96%);
}

.table-view .scroll-bar:vertical
{
	-fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}


.table-view .scroll-bar:vertical > .increment-button, 
.table-view .scroll-bar:vertical > .decrement-button
{
    -fx-padding: 1.5 ;
    -fx-background-color: linear-gradient(ff0606 0%, #424141 96%);
}

.table-view .column-header-background .filler 
{
  	-fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}




